.contact-us{
    background-image:url('../../../assets/images/appointment.png');
    width:100%;
    height:500px;
    background-size:cover;
    background-repeat:no-repeat;
    
}

.Contact-container{
    max-width:400px;
    margin:auto;
}
.Contact-container p{
    margin-bottom:15px;
}