.menu-items{
    width:600px;
    display:flex;
    align-items: center;
    justify-content: center;
   
}
.menu-items a{
    margin-right:20px;
    font-size:16px;
    font-weight:400;
}
.active-item{
    width:72px;
    height:44px;
    border-radius:8px;
    background-color:#3A4256;
    color:#D4D9E3;
    padding:10px;
    
    
}


@media (max-width: 480px) {
    .menu-items{
        display:none;
    }
  }